<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--
    D => DataLayer
    E => Entities
    B => Business
    -->
  <appSettings>
    <add key="GenerateLayer" value="D" />
    <add key="DbTables" value="Setting" />
    <add key="BusinessGenerateFilePath" value="E:\GitHub\Sample.Business\" />
    <add key="DataLayerGenerateFilePath" value="E:\GitHub\Sample.DataLayer\" />
    <add key="EntitiesGenerateFilePath" value="E:\GitHub\Sample.Entities\" />
  </appSettings>
</configuration>